SERVER_PORT=8082

DB_HOST=localhost
DB_PORT=5434
DB_USER=orderuser
DB_PASSWORD=your_password_here
DB_NAME=orderdb

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

JWT_SECRET=change-this-to-a-random-secret
